:root {
  font-family:
    Bahnschrift,
    "Arial Narrow",
    "Roboto Condensed",
    "Segoe UI",
    sans-serif;

  color: #f4f7f7;
  background: #969b9c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
}

button,
input,
select {
  font: inherit;
}
